DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=123456
DB_R2DBC_URL=r2dbc:postgresql://127.0.0.1:5432/ecommerce
DB_INIT_MODE=always

PAYMENT_FRONTEND_BASE_URL=http://127.0.0.1:5174
PAYMENT_ALIPAY_MODE=alipay
PAYMENT_ALIPAY_GATEWAY=https://openapi-sandbox.dl.alipaydev.com/gateway.do
PAYMENT_ALIPAY_APP_ID=
PAYMENT_ALIPAY_PRIVATE_KEY=
PAYMENT_ALIPAY_PUBLIC_KEY=
PAYMENT_ALIPAY_SIGN_ENABLED=true
PAYMENT_ALIPAY_NOTIFY_URL=
PAYMENT_ALIPAY_RETURN_URL=http://127.0.0.1:5174/payment/callback

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL_NAME=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=
DEEPSEEK_MODEL_NAME=
SILICONFLOW_API_KEY=
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
SILICONFLOW_MODEL_NAME=